.App {
  text-align: center;
}

.App-link {
  width: 50vw;
  height: 50vh;
  background-color: red;
}

.placeholder {
  width: 100vw;
  height: 30px;
  border: 1px solid red;
}

.opener {
  text-align: center;
}

.shuffle-box {
  border: 1px solid #f5f6f7;
  width: 800px;
  margin: 20px auto 0;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(9, 11.11%);
  gap: 10px;
}

.item {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #e4e5e6;
  background: rgba(255, 0, 0, 0.3);
}
